<div class="modal fade" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true" id="dict-{{ dict.pk }}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Список слов в словаре</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if dict.dictionary_words.all %}
                    {% for word in dict.dictionary_words.all %}
                        <p>{{ word.word }}
                            <a href="{{ word.del_data }}">
                                <img src="https://img.icons8.com/color/24/000000/delete-forever.png"/>
                            </a>
                        </p>
                    {% endfor %}
                {% else %}
                    <h2>Слов нет)</h2>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#form-{{ dict.pk }}" data-bs-dismiss="modal">
                    Добавить слово
                </button>
            </div>
        </div>
    </div>
</div>
